# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/30/
/broadcast/*/31/
/broadcast/**/dry-run/
/broadcast/**/broadcast.json

# Docs
docs/

# Dotenv file
.env
